<div id="sf-nav">
  <table cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td>
          <%= previous_week_link %>
        </td>
        <td>
          <%= today_link %>
          <%= hidden_nav_link %>
        </td>
        <td>
          <%= next_week_link %>
        </td>
        <td>
          <%= date_display %>
        </td>
        <td>
          <%= add_event_link %>
          <div id="sf-add-event" style="display: none;">
            <%= close_link %>
              <div id="sf-add-event-content"></div>
          </div>
        </td>
        <td>
          <%= flash_div :notice, :warning, :error %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
