<% @dates.each do |date| %>
  <td class="sf-week-event-column">
    <% date.events.with_time_set.order(:start_time).each do |event| %>
      <% top = event.start_time.hour * 40 %>
      <% bottom = (40 * 24) - (event.end_time.hour * 40)%>
      <div>
        <%= edit_event_link(event) %>
        <div class="sf-week-event sf-open-edit-window" style="top: <%= top %>px; bottom: <%= bottom %>px;">
          <div class="sf-week-event-hours">
            <div>
              <%= event_time(event.start_time, event.end_time) %>
            </div>
          </div>
          <div class="sf-week-event-desc">
            <%= edit_event_link(event) %>
            <div>
              <%= event_hour_desc(event) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </td>
<% end %>
