<%= f.hidden_field :calendar_id, :value => @calendar.id %>
<table>
  <tr>
    <td>
      <%= f.label :desc, "Event:" %>
    </td>
    <td>
      <%= f.text_field :desc, :size => 50 %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :start_date, "From date:" %>
    </td>
    <td>
      <%= f.calendar_date_select :start_date %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :start_time, "From time:" %>
    </td>
    <td>
      <%= f.text_field :start_time %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :end_time, "To time:" %>
    </td>
    <td>
      <%= f.text_field :end_time %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :end_date, "To date:" %>
    </td>
    <td>
      <%= f.calendar_date_select :end_date %>
    </td>
  </tr>
  <tr>
    <td>
      Repeats:
    </td>
    <td>
      <%= render :partial => 'repeats', :locals => {:f => f} %>
    </td>
  <tr>
    <td>
      <%= f.label :long_desc, "Description:" %>
    </td>
    <td>
      <%= f.text_area :long_desc, :cols => 50, :rows => 15 %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <%= submit_tag %>
    </td>
  </tr>
</table>
